extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Zen and the art of NPM artifacts
    div.Message
      div.Title
        h3 JFrog Platform
        h1 Liquid Software
      span.Details From Dev to Deploy
    div.NavButtons
      a(href="/user")
        div.NavButton Just dive in!