<meta charset="UTF-8">
<title>EJS Is Fun, Vulnerabilities are not</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
</style>